# Build artifacts
bin/
obj/

# Rider & VS Code settings
.idea/
.vscode/

# User-specific files
*.user
*.suo
*.cache
*.log

# NuGet packages
packages/
*.nupkg
project.lock.json

my_notes.txt

ipk25chat-client
ipk25chat-client.pdb
global.json